{
  "openapi": "3.0.1",
  "info": {
    "title": "Team Open API Snake",
    "description": "",
    "version": "1.0.0"
  },
  "tags": [
    {
      "name": "Session"
    }
  ],
  "paths": {
    "/v2/team/sessions/{id}": {
      "delete": {
        "summary": "Delete session",
        "deprecated": false,
        "description": "Deletes a session that you created. Once deleted, both the session and its job history will be permanently removed and cannot be recovered.",
        "tags": [
          "Session"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the session you want to delete.\n\nTo check sessions you created, call [GET /v2/team/sessions](/api-reference/list-sessions).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-pd-api-key",
            "in": "header",
            "description": "Your API key to access the target project. \n\nFor more information, see [Authentication](/api-reference/authentication).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-pd-external-trace-id",
            "in": "header",
            "description": "The trace ID you set in your system to trace this request. It can be up to 128 characters in length. If the request fails, you can provide it to the Powerdrill team to help with troubleshooting.",
            "required": false,
            "example": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "string",
                    "description": "Your user ID, which uniquely identifies you within your team. To obtain your ID:\n\n- If you're the team admin, refer to [Check user information](/enterprise/users#check-user-information).\n- If you're a system or virtual user, ask your team admin to check your user ID by referring to [Check user information](/enterprise/users#check-user-information)."
                  }
                },
                "required": [
                  "user_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "Status code. **0** indicates that the operation is successful. Otherwise, the operation fails. For error troubleshooting, refer to [Error Codes](/api-reference/error-codes)."
                    },
                    "data": {
                      "type": "object",
                      "properties": {},
                      "description": "Null is returned when the operation is successful."
                    }
                  },
                  "required": [
                    "code"
                  ]
                }
              }
            },
            "headers": {
              "x-pd-trace-id": {
                "example": "",
                "required": true,
                "description": "The trace ID returned by Powerdrill. If a failure occurs, you can provide it to the Powerdrill team to assist with troubleshooting.",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": []
      }
    }
  },
  "components": {
    "schemas": {
      "返回模型": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "Status code. **0** indicates that the operation is successful. Otherwise, the operation fails. For error troubleshooting, refer to [Error Codes](/api-reference/error-codes)."
          }
        },
        "required": [
          "code"
        ]
      }
    },
    "securitySchemes": {
      "apikey-header-x-pd-api-key": {
        "type": "apiKey",
        "in": "header",
        "name": "x-pd-api-key"
      }
    }
  },
  "servers": [
    {
      "url": "https://ai.data.cloud/api",
      "description": "体验环境"
    }
  ]
}